name: Functional Tests

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
        - apiLevel: 30
          emuTag: google_apis
          arch: x86

    env:
      CI: true
      ANDROID_AVD: emulator
      APPIUM_TEST_SERVER_PORT: 4567
      APPIUM_TEST_SERVER_HOST: 127.0.0.1
      _FORCE_LOGS: 1
    # No hardware acceleration is available for emulators on Ubuntu:
    # https://github.com/marketplace/actions/android-emulator-runner#can-i-use-this-action-on-linux-vms
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: lts/*
        check-latest: true
    - run: npm install -g appium
      name: Install dev dependencies
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'
    - run: |
        cwd=$(pwd)
        pushd "$cwd"
        cd ~
        appium driver install uiautomator2
        appium plugin install --source=local "$cwd"
        nohup appium server \
          --use-plugins=devtools \
          --port=$APPIUM_TEST_SERVER_PORT \
          --address=$APPIUM_TEST_SERVER_HOST \
          --relaxed-security \
          --log-no-colors \
          --log-timestamp \
          2>&1 > "$cwd/appium.log" &
        popd
      name: Start Appium server
    - run: nohup adb logcat > logcat.log &
      name: Capture logcat
    - uses: reactivecircus/android-emulator-runner@v2
      name: e2e_api${{ matrix.apiLevel }}
      with:
        script: bash -xe scripts/run-functional-tests.sh
        avd-name: ${{ env.ANDROID_AVD }}
        sdcard-path-or-size: 1500M
        api-level: ${{ matrix.apiLevel }}
        disable-spellchecker: true
        target: ${{ matrix.emuTag }}
        arch: ${{ matrix.arch }}
        ram-size: 4096M
        heap-size: 1024M
    - name: Save logcat output
      if: ${{ always() }}
      uses: actions/upload-artifact@master
      with:
        name: logcat-api${{ matrix.apiLevel }}
        path: logcat.log
    - name: Save server output
      if: ${{ always() }}
      uses: actions/upload-artifact@master
      with:
        name: appium-api${{ matrix.apiLevel }}
        path: appium.log
